{% load static %}
{% include 'header.html' %}
<html lang="en">
    <body>

        <div class="portfolio mt-100">
            <div class="container">
                <div class="section-header">
                    <h2>Products</h2>
                    <h2><a href="{% url 'add_product' %}" type="button" class="btn btn-outline-primary">Add+</a></h2>
                </div>
                <form action="{% url 'update_product' %}" method="get">
                   {% csrf_token %}

                    <div class="row portfolio-container">
                        <table class="table dataTable align-middle table-row-dashed fs-6 gy-5" id="list_table">
                    <thead>
                       <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                          <th scope="col">Title</th>
                          <th scope="col">Created</th>
                          <th scope="col">Bill No.</th>
                          <th scope="col">Merchant</th>
                          <th scope="col">Item</th>
                          <th scope="col">Sold Out</th>
                          <th scope="col">Buy</th>
                          <th scope="col">Margin</th>
                          <th scope="col">MRP</th>
                          <th scope="col">Sell</th>
                          <th scope="col">Profit/Loss</th>
                          <th scope="col">Delete</th>
                       </tr>
                    </thead>
                    <tbody class="fw-bold text-gray-600">
                        {% for vd in video_data %}
                          <tr>
                             <td>{{vd.title}}</td>
                             <td>{{vd.created_at}}</td>
                             <td>{{vd.bill_no}}</td>
                             <td>{{vd.merchant_name}}</td>
                             <td>{{vd.item}}</td>
                              {% if vd.sold_out == None %}
                              <td>-</td>
                              {% else %}
                                <td>{{vd.sold_out}}</td>
                              {% endif %}
                             <td>{{vd.buy_price}}</td>
                             <td>{{vd.margin}}</td>
                             <td>{{vd.mrp}}</td>
                              {% if vd.sell_price == None %}
                                  <td><button value="{{vd.code}}" name="code" type="submit" class="btn btn-outline-primary">Update</button>
                              {% else %}
                                  <td>{{vd.sell_price}}</td>
                              {% endif %}
                              {% if vd.profit == None %}
                                    <td>-</td>
                              {% else %}
                                    <td>{{vd.profit}}</td>
                              {% endif %}
                              {% if vd.is_delete%}
                                    <td><button class="btn btn-outline-danger" disabled>Deleted</button></td>
                              {% elif vd.profit == None %}
                                <td>-</td>
                              {% else %}
                              <td><button value="{{vd.code}}" formmethod="post" class="btn btn-outline-danger" name="delete_code" type="submit">Delete</button></td>
                              {% endif %}
                          </tr>
                       {% endfor %}
                    </tbody>
                    </table>
                    </div>
                </form>
            </div>
        </div>
        <div class="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 footer-links"></div>
                        <div class="col-lg-3 col-md-6 footer-links"></div>

                        <div class="col-lg-3 col-md-6 footer-newsletter">
                            <h4>Fun2one.com</h4>
                            <p>Enjoy is first priority</p>
                            <input type="email" name="email" required><input type="submit" value="Subscribe">
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6 copyright">
                        Copyright &copy; 2020 <a href="#">Fun2one.com</a>. All Rights Reserved
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="back-to-top"><i class="ion-ios-arrow-up"></i></a>
    </body>
</html>
